<div class="extra-right" *ngIf="authService.loggedIn()">
    <div class="ttpBtn">
        <button mat-button id="ownBtn" (click)="filterByOwns()">
                <img id="BigOwn" src="assets/edit.png">
        </button>
        <span class="ttpTextBtn">Own Scrwms</span>
    </div>
    <div class="ttpBtn">

    <button mat-button id="contactBtn" (click)="filterByContacts()">
        <img id="BigContact" src="assets/read.png">
    </button>
    <span class="ttpTextBtn">Following</span>
    </div>
        <div class="ttpBtn">
            <button mat-button id="anchorBtn" (click)="filterByAnchors()">
            <img id="BigAnchor" src="assets/anchor.png">
        </button>
        <span class="ttpTextBtn">Filter by Anchors</span>
    </div>
        <div class="ttpBtn">

        <button mat-button id="headerBtn" (click)="filterByHeader()">
            <img id="BigHeader" src="assets/BigHeader.png">
        </button>
        <span class="ttpTextBtn">Only Headers</span>
    </div>
    <app-chat></app-chat>
</div>