<div *ngIf="router.url === '/tasks'; else maxIncise">
    <span>
        <div class="bloqueMin">
            <div class="bloqueMin2">

                <div></div>
                <div class="Arriba">
                    <ul *ngFor="let incise of showAround.Above">
                        <li class="Arriba" (click)="editAround(incise, 'Up')">{{ incise.content }}</li>
                    </ul>
                </div>
                <div></div>

                <div class="Izquierda">
                    <ul *ngFor="let incise of showAround.Left">
                        <li (click)="editAround(incise, 'Left')">{{ incise.content }}</li>
                    </ul>
                </div>
                <div id="E"></div>
                <div class="Derecha">
                    <ul *ngFor="let incise of showAround.Right">
                        <li class="Derecha" (click)="editAround(incise, 'Right')">{{ incise.content }}</li>
                    </ul>
                </div>

                <div></div>
                <div class="Abajo">
                    <ul *ngFor="let incise of showAround.Below">
                        <li class="Abajo" (click)="editAround(incise, 'Down')">{{ incise.content }}</li>
                    </ul>
                </div>
                <div>
                    <button class="btn btn-primary" (click)="zoomMax()" > {{ Expand }} </button>
                </div> 

            </div>
        </div>    
    </span>
</div>
  
<ng-template #maxIncise>
    <span>
        <div class="bloqueMax">
            <div class="bloqueMax2">

                <div></div>
                <div class="Arriba">
                    <ul *ngFor="let incise of showAround.Above">
                        <li class="Arriba" (click)="editAround(incise, 'Up')">{{ incise.content }}</li>
                    </ul>
                </div>
                <div></div>

                <div class="Izquierda">
                    <ul *ngFor="let incise of showAround.Left">
                        <li (click)="editAround(incise, 'Left')">{{ incise.content }}</li>
                    </ul>
                </div>
                <div id="E"></div>
                <div class="Derecha">
                    <ul *ngFor="let incise of showAround.Right">
                        <li class="Derecha" (click)="editAround(incise, 'Right')">{{ incise.content }}</li>
                    </ul>
                </div>
                
                <div></div>
                <div class="Abajo">
                    <ul *ngFor="let incise of showAround.Below">
                        <li class="Abajo" (click)="editAround(incise, 'Down')">{{ incise.content }}</li>
                    </ul>
                </div>
                <div>
                    <button class="btn btn-primary" (click)="zoomMin()" > {{Contract}} </button>
                </div>

            </div>
        </div>    
    </span>
</ng-template>

