.bloque{
    background-color: white;
    box-shadow: 8px 8px 30px 12px  rgba(143, 174, 195, 0.7) inset, -8px -8px 30px 12px  rgb(143, 174, 195, 0.7) inset;
    border-radius: 10px;
    height: 592px;
}

.bloque2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arriba, .centro, .abajo {
    height: 400px;
    width: 1700px;
    display:flex;
}

.izquierda, .medio, .derecha{
    border: 1PX solid rgb(0 , 0, 0, 0);
    margin: 5px;
    width: 600px;
    font-size: 20px;
    color: rgb(93, 186, 248);
    border-radius: 10px;
}

::-webkit-scrollbar {
    display: none;
}

#E {
    font-size: 25px;
    overflow: scroll;   
    outline:none;
    color:blue;
}

#B{
    display: flex;
    overflow: scroll;
    flex-direction: row;
    align-items: flex-end; 
}

#B1{
    min-width: 300px;
}


#H{
    display: flex;
    overflow: scroll;
}

#H1{
    min-width: 300px;
}

#D {
    display: inline-block;
    overflow: scroll;
    padding-right: 20px;
}

#D1{
    max-height: 150px;
    overflow: hidden;
    text-align: right;
}


#F{
    overflow: scroll; 
}

#F1{
    max-height: 150px;
    overflow: hidden;
}
