.bloqueMin{
    width: 810px;
    height: 525px;
    background-color: white;
    box-shadow: 8px 8px 30px 12px  rgba(143, 174, 195, 0.7) inset, -8px -8px 30px 12px  rgb(143, 174, 195, 0.7) inset;
    border-radius: 10px; 
    overflow: hidden; 
}

.bloqueMin2{
    color: rgb(93, 186, 248);
    display: grid;
    grid-template-columns: 500px 500px 500px;
    grid-template-rows: 350px 350px 350px;
    grid-gap: 8px;  
    overflow: absolute;
    transform: translate(-350px, -260px);
}

.bloqueMax{
    height: 592px;
    background-color: white;
    box-shadow: 8px 8px 30px 12px  rgba(143, 174, 195, 0.7) inset, -8px -8px 30px 12px  rgb(143, 174, 195, 0.7) inset;
    border-radius: 10px; 
    overflow: hidden;
}

.bloqueMax2{
    color: rgb(93, 186, 248);
    display: grid;
    grid-template-columns: 700px 700px 700px;
    grid-template-rows:400px 400px 40px;
    grid-gap: 8px;  
    grid-gap: 8px;  
    transform: translate(-400px, -300px);
}

::-webkit-scrollbar {
    display: none;
}

.Arriba, .Izquierda, .Derecha, .Abajo{
    overflow: scroll;
}

#E{
    font-size: 20px;
    outline:none;
    color:rgb(5, 5, 120);
    overflow: scroll;
}

.Arriba, .Abajo{
    display: flex;
    min-width: 300px;
}

.Arriba{
    flex-direction: row;
    align-items: flex-end; 
}

.Izquierda{
    padding-right: 10px;
    text-align: right;
}