.bloqueMin{
    width: 810px;
    height: 530px;
    margin-top: 5px;
    background-color: white;
    box-shadow: 8px 8px 30px 12px  rgba(143, 174, 195, 0.7) inset, -8px -8px 30px 12px  rgb(143, 174, 195, 0.7) inset;
    border-radius: 10px; 
    overflow: hidden; 
}

.bloqueMin2{
    color: rgb(93, 186, 248);
    display: grid;
    grid-template-columns: 500px 500px 500px;
    grid-template-rows: 350px 350px 350px;
    grid-gap: 8px;  
    overflow: absolute;
    transform: translate(-350px, -260px);
}

.bloqueMax{
    height: 600px;
    background-color: white;
    box-shadow: 8px 8px 30px 12px  rgba(143, 174, 195, 0.7) inset, -8px -8px 30px 12px  rgb(143, 174, 195, 0.7) inset;
    border-radius: 10px; 
    overflow: hidden;
}

.bloqueMax2{
    color: rgb(93, 186, 248);
    display: grid;
    grid-template-columns: 700px 700px 700px;
    grid-template-rows:400px 400px 40px;
    grid-gap: 8px;  
    grid-gap: 8px;  
    transform: translate(-400px, -300px);
}

::-webkit-scrollbar {
    display: none;
}

.Arriba, .Izquierda, .Derecha, .Abajo{
    overflow: scroll;
    cursor: pointer;
    line-height : 20px;
}

.Arriba-Izquierda1{
    display: flex;
    height: 250px;
}


.Arriba-Izquierda2{
    align-content: end;
}

.center1{
    max-height: 530px;
    overflow: scroll;
}    

.center2{
    max-height: 600px;
    overflow: scroll;
}    

#E{
    font-size: 18px;
    color: darkblue;
    outline: none;
    line-height : 40px;
    font-style: serif;
}

.Arriba, .Abajo{
    display: flex;
    min-width: 300px;
}


.Arriba{
    flex-direction: row;
    align-items: flex-end; 
}

.Izquierda{
    padding-right: 10px;
    text-align: right;
}

.hashtags{
    display: flex;
    flex-direction: row;
}

.chip, .btn{
    color: white;
    background-color: rgba(143, 174, 195, 0.7);
    
}

.mat-chip{
    color: orangered;
    background-color: white;
}

.btn:hover{
    background-color: #a1887f;
}

.contenedor-div{
    display: flex;
}

.contenedor-div2{
flex-direction: row;
align-items: flex-end;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}