<nav>
  <div class="nav-wrapper">
    <a class="brand-logo" style="margin-left: 20px;">labyrinth</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
          <li><button mat-button (click)="Register()">Register </button></li>
          <li><button mat-button (click)="Login()">Login</button> </li>
      </ng-container>
      <ng-template #loggedIn style="margin-right: 20px;">
        <li>
          <nav style="flex: left;">
          <div class="nav-wrapper #64b5f6 blue lighten-2">
            <form>
              <div class="input-field" >
                <input  id="search" type="search" required>
                <label class="label-icon" for="search"><i>#</i></label>
              </div>
            </form>
          </div>
        </nav>
        </li>
        <li><button mat-button (click)="newScrwm()" style="margin-left: 10px;">New Scrwm</button></li>
        <li><a class="nav-link" style="cursor: pointer; margin-left: 10px; margin-right: 10px;" (click)="deleteUsers()">(Delete All)</a></li>
        <li>
          <nav>
          <div class="nav-wrapper #64b5f6 blue lighten-2">
            <form>
              <div class="input-field" >
                <input  id="search" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              </div>
            </form>
          </div>
        </nav>
        </li>
        <li style="margin-right: 20px;"><a class="nav-link" style="cursor: pointer; margin-left: 10px;" (click)="authService.logOut()">Logut</a></li>
      </ng-template>
    </ul>
  </div>
</nav>  

<button mat-button style="position: absolute; bottom: 30px; right: 20px; z-index: 1;" (click)="editUser()">
  <img class="circle" *ngIf="profService.selectedProf.imagePath, else defaultImage" [src]="'http://localhost:3000/' + profService.selectedProf.imagePath">
  <ng-template #defaultImage>
    <img class="circle" src="assets/no-image.png" alt="">
  </ng-template>
</button>
