.nav-wrapper{
    background-color: rgba(143, 174, 195, 0.7) !important;
}

.circle{
    width: 60px;
    height: 60px;
    border: brown; 
    border-style: outset;
    opacity: 0.2;
    transition: opacity 0.5s;
}

.circle:hover{
    opacity: 1;
}

