<nav>
  <div class="nav-wrapper">
    <a class="brand-logo" style="margin-left: 20px;">labyrinth</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <ng-container *ngIf="!authService.loggedIn(); else loggedIn, scrwmsList">
          <button mat-button (click)="Register()">Register </button>
          <button mat-button (click)="Login()">Login</button> 
      </ng-container>
      <ng-template #loggedIn style="margin-right: 20px;">
        <li>
          <nav style="flex: left;">
          <div class="nav-wrapper #64b5f6 blue lighten-2">
            <form>
              <div class="input-field" >
                <input  id="search" type="search" required>
                <label class="label-icon" for="search"><i>#</i></label>
              </div>
            </form>
          </div>
        </nav>
        </li>
        <li><a class="nav-link" style="cursor: pointer; margin-left: 10px;" routerLink="/newscrwm">New Scrwm</a></li>
        <li><a class="nav-link" style="cursor: pointer; margin-left: 10px;" (click)="deleteUsers()">(Delete All Users)</a></li>
        <li>
          <nav>
          <div class="nav-wrapper #64b5f6 blue lighten-2">
            <form>
              <div class="input-field" >
                <input  id="search" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              </div>
            </form>
          </div>
        </nav>
        </li>
        <li style="margin-right: 20px;"><a class="nav-link" style="cursor: pointer; margin-left: 10px;" (click)="authService.logOut()">Logut</a></li>
      </ng-template>
    </ul>
  </div>
</nav>  

