<h2 mat-dialog-title>Start Scrwm</h2>
<mat-dialog-content class="mat-typography">
  <form #newScrwmForm="ngForm" (ngSubmit)="newIncise(newScrwmForm)">
    <div>
      <mat-form-field appearance="fill"  style="width: 600px;">
        <mat-label>Title</mat-label>
        <textarea matInput name="title" #title="ngModel" [ngModel]="inciseService.selectedIncise.title" class="form-control" required  cdkFocusInitial></textarea>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill"  style="width: 600px;">
        <mat-label>Sibtitle</mat-label>
        <textarea matInput name="subtitle" #subtitle="ngModel" [ngModel]="inciseService.selectedIncise.subtitle" class="form-control"></textarea>
      </mat-form-field>
    </div>
    <div class="switch">
      <label>
        Private
        <input type="checkbox" name="publicity" #publicity="ngModel" [ngModel]="inciseService.selectedIncise.publicity" class="form-control">
        <span class="lever"></span>
        Public
      </label>
    </div>
    <div style="text-align: end;">
      <button mat-button [mat-dialog-close]="true">Back</button>
      <button mat-button mat-dialog-close type="submit" name="action">Send</button>
    </div>
  </form>
</mat-dialog-content>