<app-init></app-init>
<div class="body">  
    <app-incises></app-incises>
    <div class="right">
        <ng-container *ngFor="let prof of profService.profs">
            <div *ngIf="prof.userId === currentUserId">  
                <ul *ngFor="let scrwm of scrwmService.scrwms">
                    <div *ngIf="scrwm.creator === prof.userId">
                        <mat-accordion>
                            <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title style="margin-top: 5px;">
                                    <div class="tooltip">
                                        <img class="circle" *ngIf="prof.imagePath, else defaultImage" [src]="'http://localhost:3000/' + prof.imagePath">
                                        <ng-template #defaultImage>
                                            <div class="tooltip">
                                                <img class="circle" src="assets/no-image.png">
                                            </div>
                                        </ng-template>
                                        <span class="tooltiptext">
                                            <p>{{prof.nickname}} ({{prof.state}})</p>
                                            <p>{{prof.description}}</p>
                                        </span>
                                    </div>       
                                </mat-panel-title>
                                <mat-panel-description style="color: blue;">
                                    <p style="height: 35px; overflow: hidden; margin-top: 5px;">{{ scrwm.title }}</p>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div style="font-size: 10px; max-height: 40px; color: gray;">
                                <p ng-bind="date | date:'MM/dd/yyyy'"></p>
                                {{ scrwm.updatedAt }} -- {{ scrwm.createdAt }}
                            </div>
                            <p class="subtitle" (click)="showAround.getByScrwm(scrwm)" style="color: lightblue; cursor:pointer">
                                {{ scrwm.subtitle }}</p>
                                <i class="material-icons" style="font-size: 18px; float: right; cursor: pointer;" (click)="initComponent.editScrwm(scrwm)">edit</i>
                                <i class="material-icons" style="font-size: 18px; float: right; cursor: pointer;" (click)="deleteScrwm(scrwm)">delete</i>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </ul>
            </div>
        </ng-container>
        <ng-container *ngFor="let prof of profService.profs">
            <div *ngIf="prof.userId != currentUserId">  
                <ul *ngFor="let scrwm of scrwmService.scrwms">
                    <div *ngIf="scrwm.creator === prof.userId">
                        <mat-accordion>
                            <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title style="margin-top: 5px;">
                                    <div class="tooltip">
                                        <img class="circle" *ngIf="prof.imagePath, else defaultImage" [src]="'http://localhost:3000/' + prof.imagePath">
                                        <ng-template #defaultImage>
                                            <div class="tooltip">
                                                <img class="circle" src="assets/no-image.png">
                                            </div>
                                        </ng-template>
                                        <span class="tooltiptext">
                                            <p>{{prof.nickname}} ({{prof.state}})</p>
                                            <p>{{prof.description}}</p>
                                        </span>                                    </div>       
                                </mat-panel-title>
                                <mat-panel-description style="color: blue;">
                                    <p style="height: 35px; overflow: hidden; margin-top: 5px;">{{ scrwm.title }}</p>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div style="font-size: 10px; max-height: 40px; color: gray;">
                                <p ng-bind="date | date:'MM/dd/yyyy'"></p>
                                {{ scrwm.updatedAt }} -- {{ scrwm.createdAt }}
                            </div>
                            <p class="subtitle" (click)="showAround.getByScrwm(scrwm)" style="color: lightblue; cursor:pointer">
                                {{ scrwm.subtitle }}</p>
                                <i class="material-icons" style="font-size: 18px; float: right; cursor: pointer;" (click)="initComponent.editScrwm(scrwm)">edit</i>
                                <i class="material-icons" style="font-size: 18px; float: right; cursor: pointer;" (click)="deleteScrwm(scrwm)">delete</i>
                            </mat-expansion-panel>
                        </mat-accordion>                    </div>
                </ul>         
            </div>
        </ng-container>
    </div>
</div>


