.body{
    display: flex;
}

.right{
    display: inline-flexbox;
    overflow-y: auto;
    max-height: 530px;
    margin-left: 5px;
    margin-right: 5px;
}

::-webkit-scrollbar {
    display: none;
}

.material-icons{
    color: rgba(143, 174, 195, 0.7);
    font-size: 18px; 
    float: right; 
    cursor: pointer;
}

.material-icons:hover {
    background-color:gray;
}

.mat-expansion-panel{
    margin-top: 5px;
}

.mat-expansion-panel-header{
    background-color: rgb(224, 232, 251);
}

.title{
    color: blue;
    height: 35px; 
    overflow: scroll; 
    margin-top: 5px;
    margin-left: 15px;
    margin-right: -10px;
}

.subtitle{
    color: rgba(143, 174, 195, 0.7); 
    cursor:pointer;
    max-height: 150px; 
    overflow: scroll; 
    margin-bottom: -5px;
}

.name{
    font-weight: bolder;  
}

.circle{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: -20px;
}

.date{
    font-size: 10px; 
    color: gray;
    margin-top: -5px;
}

.tooltip {
    position: absolute;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: fixed;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }