.body{
    display: flex;
}

.left{
    margin-left: 10px;
}

.right{
    display: inline-flexbox;
    overflow-y: auto;
    max-height: 530px;
    margin-left: 5px;
    margin-right: 5px;
}

::-webkit-scrollbar {
    display: none;
}

.material-icons:hover {
    background-color:gray;
}

.title{
    font-weight: bolder;
}
.title:hover{
    color: rgba(143, 174, 195, 0.7);
}

.name{
    font-weight: bolder;  
}

.material-icons{
    color: rgba(143, 174, 195, 0.7);
}

.mat-expansion-panel-header{
    background-color: rgb(224, 232, 251);
     
}