<app-init></app-init>
<div class="body">  
    <app-incises></app-incises>
    <div class="right">
        <mat-accordion>
            <div *ngFor="let incise of inciseList">
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title >
                            <div *ngFor="let image of imageService.images">
                                <div *ngIf="image.userId === incise.prof">
                                    <div class="tooltip">
                                        <img class="circle" *ngIf="image.imagePath, else defaultImage" [src]="'http://localhost:3000/' + image.imagePath">
                                        <ng-template #defaultImage>
                                                <img class="circle" src="assets/no-image.png">
                                        </ng-template>
                                    <span class="tooltiptext"></span>
                                    </div>  
                                </div>
                            </div>
                        </mat-panel-title>
                        <mat-panel-description>
                            <p class="title" (click)="showAround.toCenter(incise)">{{ incise.title }}  </p>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="date">
                        <p ng-bind="date | date:'MM/dd/yyyy'"></p>
                            {{ incise.updatedAt }} -- {{ incise.createdAt }}
                    </div>
                    <p class="subtitle"> {{ incise.subtitle }}
                        </p>
                </mat-expansion-panel>       
            </div>
        </mat-accordion>    
    </div>
    <div class="extra-right">
        <button mat-button>
            <img class="diamond" src="assets/diamond.png">
        </button>
        <button mat-button>
            <img class="image" src="assets/no-image.png">
        </button>
        <button mat-button>
            <img class="anchor" src="assets/anchor.png">
        </button>
    </div>
</div>