.body{
    display: flex;
}

.right{
    width: 500px;
}

.above{
    height: 180px;
    overflow-y: scroll;
}

.below{
    height: 280px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}
