<app-init></app-init>

<div class="body">  
    <app-incises></app-incises>
    <div class="right">
        <mat-accordion>
            <div *ngFor="let task of taskList">
                <div *ngIf="task.incise.title, else noTitle">
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title >
                                <div class="tooltip">
                                    <img class="circulo" *ngIf="task.image.imagePath, else defaultImage" [src]="authService.env + task.image.imagePath">
                                    <ng-template #defaultImage>
                                        <img class="circulo" src="assets/no-image.png">
                                    </ng-template>
                                    <div *ngIf="task.prof.nickname">
                                        <span class="tooltiptext">
                                            @{{ task.prof.nickname }} <hr> {{task.prof.state }}
                                        </span>    
                                    </div>
                                </div>  
                            </mat-panel-title>
                            <mat-panel-description>
                                <p class="title" (click)="showAround.saveLast(task.incise)">{{ task.incise.title }}  </p>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="date">
                            {{ lastEdited(task.incise.updatedAt) }} (Cr. {{ created(task.incise.createdAt) }} )
                            <img *ngIf="task.incise.publicity === true" src="assets/public.png" style="width: 12px;">
                        </div>
                        <p class="subtitle"> {{ task.incise.subtitle }} </p>      
                    </mat-expansion-panel>       
                </div>

                <ng-template #noTitle>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title >
                                <div class="tooltip">
                                    <img class="circulo" *ngIf="task.image.imagePath, else defaultImage" [src]="authService.env + task.image.imagePath">
                                    <ng-template #defaultImage>
                                            <img class="circulo" src="assets/no-image.png">
                                    </ng-template>
                                    <div *ngIf="task.prof.nickname">
                                        <span class="tooltiptext">
                                            @{{ task.prof.nickname }} <hr> {{task.prof.state }}
                                        </span>    
                                    </div>
                                </div>  
                            </mat-panel-title>
                            <mat-panel-description>

                                <p class="content" (click)="showAround.toCenter(task.incise)">{{ task.incise.content }}  </p>
                                
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="date">
                            Last update:{{ lastEdited(task.incise.updatedAt) }} Created:{{ task.incise.createdAt }} Public: {{ task.incise.publicity }}
                        </div>
                        <div class="cab">
                            <p class="followers">{{ inciseService.selectedIncise.diamond }} </p>    
                            <img class="diamond" id="diamond" src="assets/diamond.png">
                            <div class="hashtags">
                                <div *ngFor="let hashtag of showAround.Hashtags">
                                    <mat-chip-list>
                                        <mat-chip>#{{ hashtag }}</mat-chip>
                                    </mat-chip-list>
                               </div>    
                            </div>
                        </div>                        
                        
                    </mat-expansion-panel>  
                </ng-template>

            </div>
        </mat-accordion>  
    </div>

    <ng-container *ngIf="authService.loggedIn()">
        <div class="extra-right" >
            <div class="ttpBtn">
                <button mat-button id="ownBtn" (click)="filterByOwns()">
                        <img id="BigOwn" src="assets/edit.png">
                </button>
                <span class="ttpTextBtn">Own Scrwms</span>
            </div>
            <div class="ttpBtn">
    
            <button mat-button id="contactBtn" (click)="filterByContacts()">
                <img id="BigContact" src="assets/read.png">
            </button>
            <span class="ttpTextBtn">Following</span>
            </div>
                <div class="ttpBtn">
    
                <button mat-button id="anchorBtn" (click)="filterByAnchors()">
                    <img id="BigAnchor" src="assets/anchor.png">
                </button>
                <span class="ttpTextBtn">Filter by Anchors</span>
            </div>
                <div class="ttpBtn">
    
                <button mat-button id="headerBtn" (click)="filterByHeader()">
                    <img id="BigHeader" src="assets/BigHeader.png">
                </button>
                <span class="ttpTextBtn">Only Headers</span>
            </div>
            <app-chat></app-chat>
        </div>
    </ng-container>
</div>





