<div class="container">
  <div>
        {{ profComponent.scrwm.prof.nickname }}
          <mat-card-header>
            <mat-card-title>{{ profComponent.scrwm.prof.nickname }}</mat-card-title>
          </mat-card-header>
              <img class="image" *ngIf="profComponent.scrwm.image.imagePath, else defaultImage" [src]="'http://localhost:3000/' + profComponent.scrwm.image.imagePath">
              <ng-template #defaultImage>
                <img class="image" src="assets/no-image.png">
              </ng-template>
            <mat-card-subtitle>
              <div>
                AAA
              </div>
            </mat-card-subtitle>
        </div>
        <div>
          <mat-card-content>
           {{ profComponent.scrwm.prof.minBio }}
          </mat-card-content>

    <mat-card-actions>
      <button mat-button [mat-dialog-close]="true">Close</button>
    </mat-card-actions>
  </div>
</div>