<div class="container">
  <div>
    <mat-card-header>
      <mat-card-title>{{ profService.userProf.nickname }}</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <div *ngFor="let task of taskComponent.taskList">
      <img class="image" *ngIf="task.image.imagePath, else defaultImage" [src]="'http://localhost:3000/' + task.image.imagePath">
      <ng-template #defaultImage>
          <img class="image" src="assets/no-image.png">
      </ng-template>
    </div>
  </div>
  <div>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-dialog-close  (click)="editProf()">Edit</button>
      <button mat-button [mat-dialog-close]="true">Close</button>
    </mat-card-actions>
  </div>
  
</div>