
.container{
    display: inline-flex;
    width: 850px;
}

.mat-card{
    max-height: 500px;
    min-width: 900px;
}

::-webkit-scrollbar {
    display: none;
}

.mat-form-field{
    min-width: 500px;
}

.image{
    height: 350px;
    width: 350px;
    margin-left: 20px;
}


.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }