::-webkit-scrollbar {
    display: none;
}

.container{
    display: inline-flex;
    width: 850px;
}

.mat-card{
    max-height: 500px;
    min-width: 900px;
}

.mat-form-field{
    min-width: 500px;
}

.image{
    height: 350px;
    width: 350px;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 50px;
    border: gba(143, 174, 195, 1); 
    border-style: outset;
}
