<mat-card>
  <h1 mat-dialog-title>Edit Profile</h1>
<mat-dialog-content class="mat-typography">
<div class="container">
  <form #profForm="ngForm" (ngSubmit)="updateProf(profForm)">
    <div class="data">
      <mat-form-field appearance="fill" style="width: 300px;">
        <mat-label>Name</mat-label>
        <input matInput name="nickname" #nickname="ngModel" [(ngModel)]="profService.userProf.nickname" class="form-control" cdkFocusInitial>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill" style="width: 300px;">
        <mat-label>State</mat-label>
        <input matInput name="state" #state="ngModel" [(ngModel)]="profService.userProf.state" class="form-control">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill" style="width: 300px;">
        <mat-label>MiniBio</mat-label>
        <textarea matInput name="miniBio" #miniBio="ngModel" [(ngModel)]="profService.userProf.miniBio" class="form-control"></textarea>
      </mat-form-field>
    </div>
    <div>
      <button mat-button mat-dialog-close type="submit" name="action">Save</button>
      <button mat-button [mat-dialog-close]="true">Close</button>
    </div>
  </form>

  <label for="file-input">
    <img  class="image"  (click)="photoInput.click()" *ngIf="imagePath, else uploadPhoto" [src]="photoSel || profService.env + imagePath">
    <ng-template #uploadPhoto>
      <img class="image" id="image" [src]="photoSel || 'assets/no-image.png' " (click)="photoInput.click()"/>
    </ng-template>
  </label>
  <input type="file" style="display:none" (change)="onPhotoSelected($event)" #photoInput/>

</div>
</mat-dialog-content>
</mat-card>

