<div class="container">
  <div class="info">
    <h2>Personal info</h2>
    <div class="name">
      <mat-icon class="icon">edit</mat-icon>
      <p>Name:</p><p contenteditable="true" id="Name"></p>
    </div>
    <div class="state">
      <mat-icon class="icon">edit</mat-icon>
      <p>State:</p><p contenteditable="false" id="State"></p>
    </div>
    <div class="description">
      <mat-icon class="icon">edit</mat-icon>
      <p>description:</p><p contenteditable="false" id="Description"></p>
   </div>
  </div>
    <div >
      <div>
        <label for="file-input">
          <img class="image" [src]="photoSelected || 'assets/no-image.png' " (click)="photoInput.click()"/>
        </label>
        <input type="file" style="display:none" (change)="onPhotoSelected($event)" #photoInput />
      </div>
    </div>
</div>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="uploadPhoto()">Save</button>
</mat-dialog-actions>