<app-tasks></app-tasks>
<div class="container p-5">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header">
                    signUp
                </div>
                <div class="card-body">
                    <form #userForm="ngForm" (ngSubmit)="signUp(userForm)">
                        <div class="form-group">
                            <input type="text" name="username" #username="ngModel" [(ngModel)]="authService.currentUser.username" class="form-control" placeholder="Username" required autofocus>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" #password="ngModel" [(ngModel)]="authService.currentUser.password" class="form-control" placeholder="Password" required>
                        </div>
                        <button class="btn btn-primary btn-block">SignUp</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>